.progect{
    &__main{
        &__git{
            display: flex;
            justify-content: center;
            cursor: default;
            margin-top: 2%;
            font-size: 30px;
        }
        &__href{
            &_git{
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 3px;
                    border-bottom: 3px solid rgb(0, 0, 0);
                }
                &,&::after {
                    transition: all 0.3s linear;
                }
                &:hover::after {
                    left: 0;
                    width: 100%;
                }
            }
        }   
    }
}