@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Grape+Nuts&family=Merriweather:wght@300;400&family=Permanent+Marker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}